*{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-color:lightgoldenrodyellow
}

.container{
    padding: .5rem;
    margin: 2rem;
    border-color: black;
}

.input
{
    border-color: black;
    background-color: #30cfd0;
}

.btn{
    border-color: black;
    border-radius: 3px;
    background-color: #3fc4c4;
}
.btn:hover{
    background-color: rgb(42, 143, 143);
}